<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Events and Guest Management - Event Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--Iport Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="styles/style.css"/>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Event</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Events List</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div th:each="event: ${event}" class="container eventDetails">
        <h5>Event Details</h5>
        <div class="row">
            <p>Name: <b> <span th:text="${event.name}"></span> </b></p>
            <p>Local: <b><span th:text="${event.local}"></span></b></p>
            <p>Data: <b><span th:text="${event.data}"></span></b></p>
            <p>Time: <b><span th:text="${event.time}"></span></b></p>
        </div>
    </div>

    <div class="container formGuest">
        <form method="post" th:object="${guest}">
            Name: <input type="text" value="" name="name" placeholder="Full Name"/>
            Document Number: <input type="text" value="" name="idNumber" placeholder="AA-00.000.000" class="validate"/>
            <button type="submit" class="waves-effect waves-light btn">Add</button>
        </form>
    </div>

    <table class="container tableGuest">
        <thead>
        <tr>
            <th>Guest Name</th>
            <th>ID Nro</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="guest: ${guestList}">
            <td><span th:text="${guest.name}"></span></td>
            <td><span th:text="${guest.idNumber}"></span></td>
            <td><a class="waves-effect waves-light" th:href="${(#mvc.url('EC#deleteGuest').arg(0, guest.idNumber)).build()}">
                <i class="material-icons left">delete</i></a></td>
        </tr>
        </tbody>
    </table>

    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>