<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
<link rel="stylesheet" href="style/style.css"/>
<head>
    <meta charset="UTF-8">
    <title>Events and Guest Management - Register New Event</title>
</head>
<body>

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Register New Event</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/" class="waves-effect waves-light btn"><i	class="material-icons left">format_list_bulleted</i>Events List</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container formEvent">
    <form class="container" method="post">
        <div class="row">
            Event: <input type="text" value="" name="name"/>
            <div class="input-field col s6">
                Local: <input type="text" value="" name="local"/>
            </div>
            <div class="input-field col s3">
                Data: <input type="date" value="" name="data"/>
            </div>
            <div class="input-field col s3">
                Time: <input type="time" value="" name="time"/>
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Save</button>
    </form>
</div>



<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>